
<div class="text-layout">
<h1>{{nombre | titlecase}}</h1>

<button pButton (click)="mostrarNombre()"
icon="pi pi-bell"
iconPos="right"
class="p-button-help"
label="Cambiar Nombre"
>
</button>

<p-card [header]="nombre | titlecase" 
        subheader="Esto es un subheader">
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum aut veritatis quo dignissimos omnis. Totam repellendus expedita nemo fugit, numquam quae inventore aliquam alias magni quam accusamus rerum. Suscipit, fugit!</p>
</p-card>

</div>